.admin--wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    height: 100%;
    background-color: #DBE8EE;
    min-width: 250px;
}

.sidebar--item {
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid white;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left ;
    align-items: center;
}

.sidebar--item:hover {
    background-color: #c7e4ee;
}

.sidebar--list {
    height: auto;
    padding: 0;
    margin: 0;
}

.sidebar--icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.sidebar--title {
    flex: 70%;
}

#active {
    background-color: #c7e4ee;
}

.adminHeader--wrapper {
    height: 80px;
    width: 100%;
    background-color: #DBE8EE;
    text-align: right;
}

.admin--welcome {
    margin: 10px 0 10px;
}

.account--content-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.adminHeader-menu {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.adminHeader-menu a {
    color: black;
}

.form--edit {
    display: flex;
    width: 450px;
    flex-direction: column;
}

.callback-request-card {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 6px;
    background-color: #DBE8EE;
    margin: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.callback-request-card button {
    padding: 4px 0;
    width: 100px;
    align-self: end;
}

.admin-review-buttons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 10px;
    margin-top: auto;
    justify-content: space-between;
}

.callBack-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.doctors-page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.admin--doctors-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 10px;
    position: relative;
}

.admin--doctor-row {
    display: flex;
    flex-direction: row;
    border: 1px solid #ACB0D3;
    border-radius: 5px;
    /*padding: 6px;*/
}

.edit-doctor-popup {
    height: 570px;
    min-width: 500px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 6px;
}

.edit-schedule-popup {
    height: 300px;
    min-width: 500px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 6px;
}

.doctors-form-radio {
    margin-right: 150px;
}

.admin-reviews-wrapper {
    padding: 20px;
}

.admin-reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.admin-reviews-messages .success-message {
    min-height: 30px;
}

.reviewText-scroll {
    overflow-x:hidden;
    overflow-y:auto;
}

table.table {
    width: 100%;
}

.table img {
    width: 100px;
    height: 100px;
}

.table-button {
    cursor: pointer;
    padding: 6px;
}

.table th, .table td {
    text-align: left;
    padding: 0.5em;
}

.table tr:nth-child(2n) {
    background-color: #DBE8EE;
}

.table tr {
    border-bottom: 1px solid #DDD;
}
td.edit-buttons { text-align: right; }

button:hover {
    box-shadow: 0 0 4px rgba(3,3,3,0.8);
    opacity: 0.9;
}

@media screen and (max-width: 800px) {
    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        border: 1px solid rgba(3,3,3,0.2);
    }
    td, th {
        flex: 1 1 150px;
        border: 0.5px solid rgba(3,3,3,0.2);
    }
}

.schedules-wrapper {
    padding: 20px;
}

.timeCell {
    text-align: right !important;
}

.visit-tabs-wrapper {
    margin: 20px;
}

.react-tabs__tab--selected {
    background: #DBE8EE !important;
}

.appointment-row-admin {
    background-color: #DBE8EE;
    padding: 10px;
    margin: 20px;
}

.strong {
    font-weight: bold;
}