.admin--wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    height: 100%;
    background-color: #DBE8EE;
    width: 250px;
}

.sidebar--item {
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid white;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left ;
    align-items: center;
}

.sidebar--item:hover {
    background-color: #c7e4ee;
}

.sidebar--list {
    height: auto;
    padding: 0;
    margin: 0;
}

.sidebar--icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.sidebar--title {
    flex: 70%;
}

#active {
    background-color: #c7e4ee;
}

.adminHeader--wrapper {
    height: 70px;
    width: 100%;
    background-color: #DBE8EE;
    text-align: right;
}

.admin--welcome {
    margin: 10px 0 10px;
}

.account--content-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.adminHeader-menu {
    padding-right: 20px;
}

.form--edit {
    display: flex;
    width: 450px;
    flex-direction: column;
}

.callback-request-card {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 6px;
    background-color: #DBE8EE;
    margin: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.callback-request-card button {
    padding: 6px 0;
    width: 200px;
    align-self: end;
}

.callBack-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.doctors-page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.admin--doctors-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 10px;
    position: relative;
}

.admin--doctor-row {
    display: flex;
    flex-direction: row;
    border: 1px solid #ACB0D3;
    border-radius: 5px;
    /*padding: 6px;*/
}

.doctor-row-cell1 {
    width: 250px;
}

.doctor-row-cell2 {
    width: 170px;
}

.doctor-row-cell3 {
    width: 250px;
}

.doctor-row-cell4 {
    width: 150px;
}

.doctor-row-cell5 {
    width: 70px;
}

.doctor-row-cell6 {
    width: 100px;
}

.doctor-row-cell7 {
    width: 100px;
}

.doctor-row-cell8 {
    width: 40px;
}

.doctor-row-cell9 {
    width: 110px;
}

.doctor-admin-photoLink img {
    height: 100px;
    width: 100px;
}

.doctor-cell:nth-child(2n) {
    background-color: #DBE8EE;
}

.doctor-cell {
    padding: 6px;
}

.admin-doctor-button {
    padding: 10px;
    cursor: pointer;
}

.edit-doctor-popup {
    min-height: 400px;
    min-width: 500px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 6px;
}