.form{
    background-color: white;
    width: 450px;
    margin: 200px auto 20px;
    padding: 20px;
    border: 3px solid #ACB0D3;
    border-radius: 10px;
}

.form-body{
    padding: 20px 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 50%;
}

.form__input{
    width: 300px;
    height: 22px;
}

.footer{
    text-align: center;
}

.form--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-btn {
    width: 120px;
    height: 40px;
    background-color: #ACB0D3;
    font-size: 22px;
    color: white;
    font-family: 'Yeseva One', cursive;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.callback-submit-btn {
    width: 150px;
    height: 40px;
    background-color: #ACB0D3;
    font-size: 22px;
    color: white;
    font-family: 'Yeseva One', cursive;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.login--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Yeseva One', cursive;
    font-size: 24px;
    height: 100%;
}

.login--leftScreen {
    width: 50%;
    background-color: #ACB0D3;
    height: 100%;
}

.login--formWrapper {
    border-left: 4px solid #ACB0D3;
    height: 100%;
}

.message {
    color: red;
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
}

.success-message {
    color: seagreen;
    font-size: 16px;
    margin-bottom: 2px;
    text-align: center;
}

.centered-link-wrapper {
    text-align: center;
}

.react-date-picker .react-date-picker--closed .react-date-picker--enabled {
    height: 28px;
    width: 308px;
}

.react-date-picker__wrapper {
    width: 250px;
}


.react-date-picker__button {
    padding: 5px 5px;
}