.header--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 14px 40px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.header--menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.header--menu li {
    position: relative;
}

.header--dropdownToggle {
    text-decoration: none;
}

.header--dropdownToggle:hover {
    color: #ACB0D3;
}

.header--dropdownToggle {
    color: black;
}

.header--dropdownMenu {
    display: none;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 20px;
    list-style-type: none;
    left: -10px;
    min-width: 256px;
    text-align: left;
    background-color: #fff;
    overflow: hidden;
    z-index: 9;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.header--dropdownMenu li {
    cursor: pointer;
}

.header--logo {
    height: 50px;
    width: 50px;
}

.header--search-icon {
    height: 30px;
    width: 30px;
}

.header--icons-corner {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header--contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.header--cabinet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.header--wrapper a {
    text-decoration: none;
}

.header--dropdownMenu a {
    color: black;
}

.header--dropdownMenu li {
    padding: 5px;
}