.homepage--block {
    height: 500px;
    margin: 0;
    display: inline-block;
    width: 100%;
}

h1 {
    font-family: 'Yeseva One', cursive;
}

.homepageMain--header {
    background: url("../images/largeHeader.jpg");
    width: 100%;
}

.homepageMain--headerText {
    width: 700px;
    padding-left: 80px;
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 22px;
}

.homepageMain--aboutUs h1 {
    text-align: center;
}

.aboutUs--wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 100px 50px;
    gap: 100px;
}

.aboutUs--image {
    border-radius: 10px;
    border: 4px solid #ACB0D3;
    height: 350px;
    width: 450px;
    position: relative;
    z-index: 9;
}

.aboutUs--image img {
    position: absolute;
    top: 15px;
    left: -15px;
    height: 350px;
    width: 450px;
}

.aboutUs--text {
    text-align: left;
    width: 600px;
}

.reviews--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 20px 100px 50px;
}

.homepageMain--reviews {
    background-color: #DBE8EE;
    text-align: center;
}

.reviews--leftArrow {
    transform: rotate(180deg);
}

.reviews--rightArrow {
    padding-bottom: 10px;
}

.reviews--arrow {
    cursor: pointer;
    font-size: 40px;
}

.reviews--main {
    width: 500px;
    padding: 20px 50px;
}

.reviews--sender {
    text-align: right;
    font-weight: bold;
    padding-top: 50px;
}

.reviews--header {
    padding-bottom: 50px;
}

.homepageMain--offers {
    height: 500px;
}

.footer--wrapper {
    height: 200px;
}

.doctors--cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.doctorCard--wrapper {
    height: 450px;
    width: 300px;
    text-align: left;
    padding: 20px 50px;
}

.doctorCard--profilePic img {
    height: 300px;
    width: 300px;
}

.doctors--buttonWrapper {
    text-align: center;
}